.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px dashed #888888;

  .callout {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #66dbff;
    border-radius: 5px;
    background-color: #e6f9ff;
  }

  .card {
    border-bottom: 1px solid #dddddd;

    .guest_counter {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;

      .text {
        font-weight: 600;
      }

      .annotation {
        color: #aaaaaa;
      }
    }
  }
}
